/* App.css */
.form-checkbox {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-origin: border-box;
    user-select: none;
    flex-shrink: 0;
    border-width: 1px;
    border-radius: 0.25rem;
    border-color: #d1d5db; /* Tailwind border-gray-300 */
    background-color: #ffffff; /* Tailwind bg-white */
  }
  
  .form-checkbox:checked {
    background-color: #ffffff; /* Tailwind bg-white */
    border-color: #80b435; /* Tailwind border-green-500 */
  }
  
  .form-checkbox:checked::after {
    content: '';
    display: block;
    width: 0.25rem;
    height: 0.625rem;
    border: solid #80b435; /* Tailwind text-green-500 */
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    position: relative;
    top: 1px;
    left: 5px;
  }